In [1]:
import pandas as pd
import matplotlib as plt

### Batter Data -- Basic

In [24]:
mlb_2020_batter_base = pd.read_csv("batter_data/basic/mlb_2020_batter_base.csv")
mlb_2019_batter_base = pd.read_csv("batter_data/basic/mlb_2019_batter_base.csv")
mlb_2018_batter_base = pd.read_csv("batter_data/basic/mlb_2018_batter_base.csv")
mlb_career_batter = pd.read_csv("batter_data/Batting.csv")
mlb_career_batter

,playerID,yearID,stint,teamID,lgID,G,AB,R,H,2B,...,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
0,abercda01,1871,1,TRO,NaN,1,4,0,0,0,...,0.0,0.0,0.0,0,0.0,NaN,NaN,NaN,NaN,0.0
1,addybo01,1871,1,RC1,NaN,25,118,30,32,6,...,13.0,8.0,1.0,4,0.0,NaN,NaN,NaN,NaN,0.0
2,allisar01,1871,1,CL1,NaN,29,137,28,40,4,...,19.0,3.0,1.0,2,5.0,NaN,NaN,NaN,NaN,1.0
3,allisdo01,1871,1,WS3,NaN,27,133,28,44,10,...,27.0,1.0,1.0,0,2.0,NaN,NaN,NaN,NaN,0.0
4,ansonca01,1871,1,RC1,NaN,25,120,29,39,11,...,16.0,6.0,2.0,2,1.0,NaN,NaN,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108784,zimmebr02,2020,1,BAL,AL,2,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
108785,zimmejo02,2020,1,DET,AL,3,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
108786,zimmeky01,2020,1,KCA,AL,16,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
108787,zuberty01,2020,1,KCA,AL,23,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
108788,zuninmi01,2020,1,TBA,AL,28,75,8,11,4,...,10.0,0.0,0.0,6,37.0,0.0,3.0,0.0,0.0,0.0

mlb_2019_batter_base

In [19]:
mlb_2018_batter_base

,Player,Team,Pos,Age,G,AB,R,H,2B,3B,...,CS,BB,SO,SH,SF,HBP,AVG,OBP,SLG,OPS
0,Trea Turner,WAS,SS,27,162,664,103,180,27,6,...,9,69,132,2,0,5,0.271,0.344,0.416,0.760
1,Francisco Lindor,CLE,SS,27,158,661,129,183,42,2,...,10,70,107,3,3,8,0.277,0.352,0.519,0.871
2,Ozzie Albies,ATL,2B,24,158,639,105,167,40,5,...,3,36,116,1,3,5,0.261,0.305,0.452,0.757
3,Jose Peraza,CIN,2B,26,157,632,85,182,31,4,...,6,29,75,8,5,9,0.288,0.326,0.416,0.742
4,Marcus Semien,OAK,SS,30,159,632,89,161,35,2,...,6,61,131,2,7,1,0.255,0.318,0.388,0.706
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
684,Aristides Aquino,CIN,OF,26,1,1,0,0,0,0,...,0,0,1,0,0,0,0.000,0.000,0.000,0.000
685,Juan Graterol,LAA,C,31,1,1,0,1,0,0,...,0,0,0,0,0,0,1.000,1.000,1.000,2.000
686,Chris Stewart,ARI,C,38,3,1,0,0,0,0,...,0,0,0,0,0,0,0.000,0.000,0.000,0.000
687,Justin Williams,TB,OF,25,1,1,0,0,0,0,...,0,0,0,0,0,0,0.000,0.000,0.000,0.000
688,Mike Freeman,CHC,2B,33,1,0,0,0,0,0,...,0,0,0,1,0,0,0.000,0.000,0.000,0.000

In [ ]:
# Need to fix retired players, and collect into one DataFrame

### Batter Data -- Adv

In [21]:
mlb_2020_batter_adv = pd.read_csv("batter_data/advanced/mlb_2020_batter_adv.csv")
mlb_2019_batter_adv = pd.read_csv("batter_data/advanced/mlb_2019_batter_adv.csv")
mlb_2018_batter_adv = pd.read_csv("batter_data/advanced/mlb_2018_batter_adv.csv")
mlb_2020_batter_adv

,Player,Team,Pos,G,AB,P/PA,Bunts,GIDP,IBB,BB,...,BB/K,CT%,SBO%,AVG,BABIP,wOBA,GB%,LD%,FB%,HR/FB%
0,Whit Merrifield,KC,2B,60,248,3.76,4,3,0,12,...,0.36,86.7,24.6,0.282,0.296,0.344,37.4,25.1,37.4,12.3
1,Jose Abreu,CWS,1B,60,240,3.91,0,10,1,18,...,0.31,75.4,0.0,0.317,0.352,0.425,44.2,23.8,32.0,32.8
2,Dansby Swanson,ATL,SS,60,237,4.00,1,0,0,22,...,0.31,70.0,8.1,0.274,0.353,0.358,37.0,24.2,38.8,15.6
3,Francisco Lindor,CLE,SS,60,236,4.20,6,8,2,24,...,0.59,82.6,12.5,0.258,0.283,0.329,38.5,25.6,35.9,11.4
4,Trevor Story,COL,SS,59,235,3.99,1,5,1,24,...,0.38,73.2,28.1,0.289,0.354,0.394,28.3,23.0,48.7,14.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,Scott Schebler,ATL,OF,1,1,3.00,0,0,0,0,...,0.00,100.0,0.0,0.000,0.000,0.000,100.0,0.0,0.0,NaN
607,Aaron Whitefield,MIN,OF,3,1,1.00,0,0,0,0,...,0.00,100.0,0.0,0.000,0.000,0.000,100.0,0.0,0.0,NaN
608,Luis Gonzalez,CWS,OF,3,1,2.50,0,0,0,0,...,0.00,0.0,0.0,0.000,0.000,0.000,0.0,0.0,0.0,NaN
609,Greg Allen,SD,OF,1,1,3.00,0,0,0,2,...,2.00,0.0,50.0,0.000,0.000,0.000,0.0,0.0,0.0,NaN
610,Yermin Mercedes,CWS,C,1,1,6.00,0,0,0,0,...,0.00,100.0,0.0,0.000,0.000,0.000,0.0,0.0,0.0,NaN

In [22]:
mlb_2019_batter_adv

,Player,Team,Pos,G,AB,P/PA,Bunts,GIDP,IBB,BB,...,BB/K,CT%,SBO%,AVG,BABIP,wOBA,GB%,LD%,FB%,HR/FB%
0,Whit Merrifield,KC,2B,162,681,3.77,17,8,5,45,...,0.36,81.5,16.3,0.302,0.353,0.352,38.0,28.5,33.5,8.7
1,Marcus Semien,OAK,SS,162,657,3.97,3,11,2,87,...,0.85,84.5,9.4,0.285,0.295,0.386,41.1,20.0,38.9,15.3
2,Rafael Devers,BOS,3B,156,647,3.75,6,8,7,48,...,0.40,81.6,10.1,0.311,0.341,0.392,44.4,21.3,34.3,17.7
3,Jonathan Villar,BAL,2B,162,642,3.98,27,8,0,61,...,0.35,72.6,28.0,0.274,0.344,0.347,48.9,19.8,31.3,16.7
4,Ozzie Albies,ATL,2B,160,640,3.54,5,2,6,54,...,0.48,82.5,11.3,0.295,0.327,0.367,37.9,25.5,36.6,12.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
688,Jose Rondon,BAL,2B,1,1,5.00,0,0,0,0,...,0.00,100.0,0.0,0.000,0.000,0.000,0.0,0.0,0.0,NaN
689,Travis d'Arnaud,LAD,C,1,1,2.00,0,0,0,0,...,0.00,100.0,0.0,0.000,0.000,0.000,0.0,0.0,0.0,NaN
690,Aaron Altherr,SF,OF,1,1,6.00,0,0,0,0,...,0.00,0.0,0.0,0.000,0.000,0.000,0.0,0.0,0.0,NaN
691,Rob Brantly,PHI,C,1,1,3.00,0,0,0,0,...,0.00,0.0,0.0,0.000,0.000,0.000,0.0,0.0,0.0,NaN
692,John Ryan Murphy,ATL,C,1,1,3.00,0,0,0,0,...,0.00,100.0,0.0,0.000,0.000,0.000,0.0,0.0,0.0,NaN

In [23]:
mlb_2018_batter_adv

,Player,Team,Pos,G,AB,P/PA,Bunts,GIDP,IBB,BB,...,BB/K,CT%,SBO%,AVG,BABIP,wOBA,GB%,LD%,FB%,HR/FB%
0,Trea Turner,WAS,SS,162,664,3.95,28,7,3,69,...,0.52,80.1,26.4,0.271,0.314,0.331,49.0,17.9,33.1,11.0
1,Francisco Lindor,CLE,SS,158,661,3.91,11,5,7,70,...,0.65,83.8,20.5,0.277,0.281,0.368,38.8,21.6,39.6,17.3
2,Ozzie Albies,ATL,2B,158,639,3.48,21,9,0,36,...,0.31,81.8,12.7,0.261,0.287,0.324,38.8,21.3,39.9,11.5
3,Jose Peraza,CIN,2B,157,632,3.36,38,12,4,29,...,0.39,88.1,17.9,0.288,0.309,0.319,36.5,25.5,38.0,6.8
4,Marcus Semien,OAK,SS,159,632,4.10,3,12,1,61,...,0.47,79.3,11.8,0.255,0.300,0.308,39.2,22.8,38.0,7.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
683,Aristides Aquino,CIN,OF,1,1,5.00,0,0,0,0,...,0.00,0.0,0.0,0.000,0.000,0.000,0.0,0.0,0.0,NaN
684,Juan Graterol,LAA,C,1,1,1.00,0,0,0,0,...,0.00,100.0,0.0,1.000,1.000,0.000,0.0,0.0,0.0,NaN
685,Chris Stewart,ARI,C,3,1,3.00,0,0,0,0,...,0.00,100.0,0.0,0.000,0.000,0.000,0.0,0.0,0.0,NaN
686,Justin Williams,TB,OF,1,1,4.00,0,1,0,0,...,0.00,100.0,0.0,0.000,0.000,0.000,100.0,0.0,0.0,NaN
687,Mike Freeman,CHC,2B,1,0,3.00,1,0,0,0,...,0.00,0.0,0.0,0.000,0.000,0.000,0.0,0.0,0.0,NaN

In [ ]:
# # Need to fix retired players, and collect into one DataFrame